{% extends 'kaliroboda/base.html' %} {% block content %}
<main class="text-center p-5">
  {% if error %}
  <div
    class="border border-red-500 min-w-0 p-4 bg-red-200 rounded-lg shadow-xs dark:bg-red-200"
  >
    <div
      class="flex flex-col space-y-2 mb-4 font-semibold text-gray-600 dark:text-gray-300"
    >
      <i class="fa-solid fa-triangle-exclamation text-3xl text-red-600"></i>
      <h4>{{error}}</h4>
    </div>
    <p class="text-gray-600 dark:text-gray-400">{{message}}</p>
  </div>
  {% else %}
  <div
    class="border border-red-500 min-w-0 p-4 bg-red-200 rounded-lg shadow-xs dark:bg-red-200"
  >
    <div
      class="flex flex-col space-y-2 mb-4 font-semibold text-gray-600 dark:text-gray-300"
    >
      <i class="fa-solid fa-triangle-exclamation text-3xl text-red-600"></i>
      <h4>An error occured.</h4>
    </div>
    <p class="text-gray-600 dark:text-gray-400">
      An unidentified error occured, please try the operation again later. If
      the problem persists, do not hesitate to contact the administrators for
      assistance
    </p>
  </div>
</main>
{% endif %} {% endblock %}
