{% extends 'kaliroboda/base.html' %} {% block content %}

<!-- New Table -->
<main class="container overflow-y-auto p-3">
  <!-- CTA -->
  <a
    class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
    href="{% url 'faqs'%}"
  >
    <div class="flex items-center">
      <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path>
      </svg>
      <span>Frequently Asked Questions</span>
    </div>
    <span>View now &RightArrow;</span>
  </a>
  <form action="{% url 'accounts:member_search' %}" method="get">
    {% csrf_token %}
    <label class="block mt-4 text-sm mb-3">
      <!-- <span class="text-gray-700 dark:text-gray-400"> Button right </span> -->
      <div class="relative text-gray-500 focus-within:text-purple-600">
        <input
          class="rounded py-2 border w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
          {%
          if
          query
          %}
          placeholder="{{query}}"
          {%
          else
          %}
          placeholder=""
          {%
          endif
          %}
          type="text"
          name="query"
        />
        <button
          type="submit"
          class="absolute inset-y-0 right-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-r-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        >
          Search
        </button>
      </div>
    </label>
  </form>
  {% if members %}
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">Member</th>
            <th class="px-4 py-3">Card ID</th>
            <th class="px-4 py-3">Title</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Stage</th>
            <th class="px-4 py-3">Village</th>
            <th class="px-4 py-3">District</th>
            <th class="px-4 py-3">Phone Number</th>
            <th class="px-4 py-3">Gender</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for member in members %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <a
                href="{% url 'accounts:profile'%}?member_id={{member.id}}"
                class="flex items-center text-sm"
              >
                <!-- Avatar with inset shadow -->
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="{{member.display_picture.url}}"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold">
                    {{member.first_name}} {{member.last_name}}
                  </p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">Member</p>
                </div>
              </a>
            </td>
            <td class="px-4 py-3 text-sm">{{member.card_id}}</td>
            <td class="px-4 py-3 text-sm">{{member.title}}</td>
            <td class="px-4 py-3 text-sm">
              {% if member.status == 'T' %}
              <span
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
              >
                True
              </span>
              {% elif member.status == 'F' %}
              <span
                class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600"
              >
                False
              </span>
              {% else %}
              <span
                class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-100"
              >
                Pending
              </span>
              {% endif %}
            </td>
            <td class="px-4 py-3 text-sm">{{member.stage}}</td>
            <td class="px-4 py-3 text-sm">{{member.village}}</td>
            <td class="px-4 py-3 text-sm">{{member.district}}</td>
            <td class="px-4 py-3 text-sm">{{member.phone_number}}</td>
            <td class="px-4 py-3 text-sm">{{member.gender}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="grid py-3 text-xs font-semibold tracking-wide text-gray-500 border-t dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
    >
      <span class="flex items-center col-span-3"> End of table </span>
      <span class="col-span-2"></span>
      <!-- Pagination -->
    </div>
  </div>
  {% else %}
  <h2 class="text-white">
    No members found, search members by ID, First Name, Last Name, or Email
  </h2>
  {% endif %} {% endblock %}
</main>
